@using LanguageResource
@using VxGuardClient.Context
@using VideoGuard.ApiModels.CamApiModel
@model VideoGuard.ApiModels.ResponseModalX
@{
    ViewBag.Title = $"{Lang.CamManagement_Title} {Lang.GeneralUI_Update}";
}
@if (Model.meta.Success)
{
    CamUpdate camUpdate = (CamUpdate)Model.data;
    <div class="container col-lg-offset-3 col-md-offset-3 pt-3" style="max-width:500px;">
        <form asp-action="Update" asp-controller="Cam" asp-route-Language="@LangExtend.LanguageCode" data-ajax-success="handleCamUpdate" asp-ajax-onFailure="errCamUpdate" data-ajax="true" data-ajax-method="POST" class="form-horizontal" id="form_CamUpdate">
            <input type="hidden" asp-for="@camUpdate.CameraId"   name="CameraId"  />
            <input type="hidden" asp-for="@camUpdate.MaincomId" name="MaincomId" />
            <input type="hidden" asp-for="@camUpdate.SiteName"  name="SiteName"/>
            <input type="hidden" asp-for="@camUpdate.Type"  name="Type"/>
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title text-dark">@Lang.GeneralUI_Update</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body " style="display: block;">
                    <div class="form-group">
                        <label class="control-label col-12" for="Name"><i class="fa fa-cog text-green" style="color:forestgreen"></i> @Lang.CamApiModelInput_Name</label>
                        <div class="input-group">
                            <input asp-for="@camUpdate.Name"  name="Name" data-val="true" class="border-right-0 form-control form-control form-control-sm" type="text" data_toggle="title" title="@Lang.CamApiModelInput_Name" placeholder="@Lang.CamApiModelInput_Name" />
                            <div class="input-group-append input-group-sm">
                                <span class="input-group-text border-left-0" style="background-color:#faf9eb;font-size:9px;color:#ff0000;cursor:help;" data-toggle="tooltip" title="@Lang.CamApiModelInput_Name">
                                    <i class="fas fa-asterisk"></i>
                                </span>
                            </div>
                        </div>
                        <span asp-validation-for="@camUpdate.Name" class="text-danger"></span>
                    </div>
                     <div class="form-group">
                        <label class="control-label col-12" for="DeviceId"><i class="fas fa-venus-mars" style="color:forestgreen"></i> @Lang.Camera_OfDevice</label>
                        <div class="input-group">
                            <select asp-for="@camUpdate.DeviceId" name="DeviceId" asp-items="@Html.DeviceDropDownList(camUpdate.MaincomId,camUpdate.DeviceId)" class="border-right-0 form-control form-control-sm bold">
                                    <option value="0">@Lang.GeneralUI_Select</option>
                            </select>
                            <div class="input-group-append input-group-sm">
                                <span class="input-group-text border-left-0" style="background-color:#faf9eb" data-toggle="tooltip" title="@Lang.Person_Library  @Lang.GeneralUI_Optional">
                                    <i class="fas fa-angle-double-right" style="color:forestgreen;font-size:11px"></i>
                                </span>
                            </div>
                        </div>
                        <span asp-validation-for="@camUpdate.DeviceId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-12" for="Rtsp"><i class="fas fa-link text-green" style="color:forestgreen"></i> @Lang.CamApiModelInput_Rtsp</label>
                        <div class="input-group">
                            <input asp-for="@camUpdate.Rtsp" name="Rtsp"  data-val="true" class="border-right-0 form-control form-control form-control-sm" type="text" data_toggle="title" title="@Lang.CamApiModelInput_Rtsp" placeholder="@Lang.CamApiModelInput_Rtsp" />
                            <div class="input-group-append input-group-sm">
                                <span class="input-group-text input-group-append input-group-sm border-left-0 font-red small text-sm" style="background-color:#faf9eb;color:#ff0000;font-size:9px;cursor:help;" data-toggle="tooltip" title="@Lang.CamApiModelInput_Rtsp">
                                    <i class="fas fa-asterisk"></i>
                                </span>
                                <button type="button" id="btnSearch" class="hide btn btn-primary btn-sm" data-toggle="modal" data-target="#SearchCamPanel">@Lang.GeneralUI_Search</button>
                            </div>
                        </div>
                        <ul class="list-unstyled list-group-unbordered p-0 m-0">
                            <li class="list-unstyled ">
                                <div class="badge badge-warning pl-0">
                                    <span for="Rtsp" class="ml-0 text-wrap text-left align-content-start align-text-bottom"><i class="fas fa-angle-double-right"></i>@Lang.CamApiModelInput_Rtsp_Tips</span>
                                </div>
                            </li>
                            <li class="list-unstyled">
                                <span asp-validation-for="@camUpdate.Rtsp" class="DateTimeRange text-danger"></span>
                            </li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <div class="col-12">
                            <label class="control-label" for="SiteId"><i class="fas fa-video text-success mr-1"></i>@Lang.CamApiModelInput_Site  <label id="lblSiteName" class="ml-3 control-label text-danger">@string.Format("{0}-{1}", camUpdate.SiteId, camUpdate.SiteName)</label></label>
                        </div>
                        <div class="input-group">
                            <input asp-for="@camUpdate.SiteId" id="SiteId" name="SiteId" data-val="true" type="hidden"/>
                        </div>
                        <span asp-validation-for="@camUpdate.SiteId" class="text-danger"></span>
                        <div id="treeviewOfSite"></div>
                        <span class="text-danger">@Lang.CamApiModelInput_SiteTips</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-12" for="Remark"><i class="fas fa-pencil-ruler text-green"></i>  @Lang.CamApiModelInput_Remark</label>
                        <div class="input-group">
                            <input asp-for="@camUpdate.Remark" name="Remark"  data-val="true" class="AddNewReason border-right-0 form-control form-control-sm" type="text" data_toggle="title" title="@Lang.CamApiModelInput_Remark" placeholder="@Lang.CamApiModelInput_Remark" />
                            <div class="input-group-append input-group-sm">
                                <span class="input-group-text input-group-append input-group-sm border-left-0 font-red small" style="background-color:#faf9eb;color:#0bc936;font-size:9px;cursor:help;" data-toggle="tooltip" title="@Lang.CamApiModelInput_Remark">
                                    <i class="fas fa-angle-double-right"></i>
                                </span>
                            </div>
                        </div>
                        <span asp-validation-for="@camUpdate.Remark" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div style="display: block;" class="">
                <div class="container card-footer">
                    <div class="row">
                        <div class="margin-left5 padding-left5">
                            <button type="submit" id="btnaddnew" class="btn btn-primary padding-left15 margin-left5">
                                @Lang.GeneralUI_Update
                            </button>
                            <a asp-action="QueryCameraList" asp-controller="Cam" asp-route-language="@LangUtilities.LanguageCode" class="btn btn-primary padding-left15 margin-left5">@string.Format("{0}{1}", Lang.GeneralUI_Return, Lang.GeneralUI_List)</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!--SEARCH Modal -->
    <div class="modal fade" id="SearchCamPanel" tabindex="-1" aria-labelledby="SearchCamPanel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered  modal-sm" role="document">
            <div class="modal-content p3">
                <form asp-action="QueryCameraRtsp" asp-controller="Cam" asp-route-Language="@LangExtend.LanguageCode" data-ajax-success="handleQueryCameraRtsp" asp-ajax-onFailure="errQueryCameraRtsp" data-ajax="true" data-ajax-method="POST" class="form-horizontal" name="form_QueryCameraRtsp" id="form_QueryCameraRtsp">
                    <div class="form-group mt-3 pl-3 pr-3">
                        <h2 class="modal-title text-dark small"><strong><i class="fas fa-search-plus text-green"></i>@Lang.CameraAdd_SearchCamera</strong></h2>
                        <br />
                        <p class="h6 lead small">@Lang.SearchCamPanel_ModalTitle</p>
                    </div>

                    <div class="form-group pl-3 pr-3">
                        <div class="input-group">
                            <input id="Ip" data-val="true" class="border-right-0 form-control  form-control-sm col-11" type="text" data_toggle="title" title="IP" placeholder="IP" />
                            <div class="input-group-append input-group-sm">
                                <span class="input-group-text border-left-0" style="background-color:#faf9eb;cursor:help;" data-toggle="tooltip" title="IP | PORT">
                                    <i class="fas fa-angle-double-right" style="color:forestgreen;font-size:9px"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group pl-3 pr-3">
                        <div class="input-group">
                            <input id="User" data-val="true" class="border-right-0 form-control  form-control-sm col-11" type="text" data_toggle="title" title="User" placeholder="User" />
                            <div class="input-group-append input-group-sm">
                                <span class="input-group-text border-left-0" style="background-color:#faf9eb;cursor:help;" data-toggle="tooltip" title="Camera Login User Name">
                                    <i class="fas fa-angle-double-right" style="color:forestgreen;font-size:9px"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group pl-3 pr-3">
                        <div class="input-group">
                            <input id="Password" data-val="true" class="border-right-0 form-control  form-control-sm col-11" type="text" autocomplete="off" data_toggle="title" title="Password" placeholder="Password" />
                            <div class="input-group-append input-group-sm">
                                <span class="input-group-text border-left-0" style="background-color:#faf9eb;cursor:help;" data-toggle="tooltip" title="Camera Login User Password">
                                    <i class="fas fa-angle-double-right" style="color:forestgreen;font-size:9px"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group float-right mt-2 p-0">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" id="btnUpdSystemConfig" class="btn btn-primary mr-3"> @Lang.GeneralUI_Search </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<script>

    $(document).ready(function () {

        loadSiteTreeView("#treeviewOfSite", "@LangUtilities.LanguageCode", "@camUpdate.MaincomId", 0, "#SiteId","#lblSiteName");
        $('#treeviewOfSite').slimscroll({
            disableFadeOut: false,
            height: '180px'
        });
    });

    function handleCamUpdate(result) {
        layer.close(layer.index);
        console.log(result);
        layer.open({
                title: '@Lang.GeneralUI_ReturnResult'
                , content: result.meta.message
                , btn: '@Lang.GeneralUI_OK'
        });
        if (result.meta.success === true)
        {
            redirectLocaleUrl = "@Url.Action("QueryCameraList", "Cam")";
            console.log(redirectLocaleUrl);
            setTimeout(
                function() {
                    window.location.href = redirectLocaleUrl;
                }
            , 3000);
        }
    }

    function handleQueryCameraRtsp(result) {
        layer.close(layer.index);
        console.log(JSON.stringify(result));
        layer.open({
                title: '@Lang.GeneralUI_ReturnResult'
                , content: result.meta.Message
                , btn: '@Lang.GeneralUI_OK'
            });
        if (result.meta.Success === true )
        {
            setTimeout(
                function () {
                   $("#Rtsp").val(result.data.Rtsp);
                    layer.close('loading');
                }
            , 1000);
        }
    }
    function errCamUpdate(data) {
        layer.close('loading');
        console.log(JSON.stringify(data));
        alert('@Lang.GeneralUI_ServerError' + "--client errCamUpdate");
    }
</script>
}
else
{
    <partial name="~/Views/Base/ResponseModal.cshtml" , for="@Model" />
}


