@using LanguageResource
@using VxGuardClient.Context
@model VideoGuard.ApiModels.Account.PasswordModify
@{ 
    ViewBag.Title = Lang.GeneralUI_PasswordModify; 
}
<div class="container">
    <div class="offset-lg-3 offset-md-3">
        <div class="panel register-box bg-gradient-light pl-3 pr-3" style="border-radius:2%;">
            <div class="panel-header register-logo small pt-3 pb-0">
                <div class="center-block text-nowrap">
                    <i class="fas fa-user-alt"></i><span class="register-box-msg small">@Lang.GeneralUI_PasswordModify</span>
                </div>
            </div>
            <div class="panel-body pl-3 pr-3">
                <form asp-action="PasswordModify" asp-controller="Account" asp-route-Language="@LangExtend.LanguageCode" onsubmit="return handleOnbegin()" data-ajax-success="handlePassordModify" asp-ajax-onFailure="errPassordModify" data-ajax="true" data-ajax-method="POST" class="form-horizontal" name="form_Register" id="form_Register">
                    <div class="form-group">
                        <input asp-for="UserName" data-val="true" class="form-control mb-3" type="text" placeholder="@Lang.User_UserName" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group ">
                        <input asp-for="OrginalPassword" data-val="true" class="form-control" type="password" placeholder="@Lang.User_OrginalPassword" />
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        <span asp-validation-for="OrginalPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group ">
                        <input asp-for="Password" data-val="true" class="form-control" type="password" placeholder="@Lang.User_Password" />
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="ConfirmPassword" data-val="true" class="form-control" type="password" placeholder="@Lang.User_Password_Comfirmed" />
                        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">@Lang.GeneralUI_Modify</button>
                    </div>
                    <div class="social-auth-links text-left">
                        <i class="fas fa-info-circle text-white"></i> <a href="@Url.Action("Login", "Account",new { returnUrl = ViewBag.returnUrl })" class="text-white">@Lang.RegisterView_HasRegistedToLogin</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
    
</div>
<script src="~/AdminLTE305/plugins/md5/md5.js"></script>
<script>
    function handleOnbegin() {
       
        var OrginalPassword = $("#OrginalPassword").val();
        var Password = $("#Password").val();
        var ConfirmPassword = $("#ConfirmPassword").val();
        if (Password.lenght < 3 || ConfirmPassword.lenght < 3) {
            layer.msg("@Lang.User_Password_Format_TooShort");
            return false;
        }

        OrginalPassword = md5(OrginalPassword);
        Password = md5(Password);
        ConfirmPassword = md5(ConfirmPassword);
         
        $("#OrginalPassword").val(OrginalPassword);
        $("#Password").val(Password);
        $("#ConfirmPassword").val(ConfirmPassword);
         
        return true;
    }
    function handlePassordModify(result) {
        console.log(result);
        layer.close(layer.index);
        if (result.meta.Success === false) {

            layer.open({
                title: '@Lang.GeneralUI_ReturnResult'
                , content: result.meta.Message
                , btn: '@Lang.GeneralUI_OK'
            });
        }
        else
        {
            layer.msg(result.meta.message);
        }
    }
    function errPassordModify(data) {
        layer.close(layer.index);
        console.log(JSON.stringify(data));
        alert('@Lang.GeneralUI_ServerError' + "--client error");
        //layer.clear();
    }
</script>