@using LanguageResource
@using Common
@using EnumCode
@using VxGuardClient.Context
@using DataBaseBusiness.Models
@using VideoGuard.ApiModels
@model DeviceSerialNoUpd

<div class="modal fade" id="DeviceSerialNoUpdModal" tabindex="-1"
     role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="DeviceSerialNoUpdModal" aria-hidden="true">
      <form asp-action="ChangeDeviceSerialNo" asp-controller="Device" asp-route-Language="@LangUtilities.LanguageCode"
                      data-ajax-success="handleDeviceStatus"
                      asp-ajax-onFailure="errDeviceStatus" data-ajax="true" data-ajax-method="post" class="form-horizontal form-inline"
                      name="formDeviceStatus" id="formDeviceStatus">
    <div class="modal-dialog modal-md">
        <div class="modal-content"> 
                <div class="modal-header">
                    <h5 class="modal-title">@Lang.DeviceStatus_Title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"> 
                        <div class="container-fluid">
                            <input asp-for="@Model.DeviceId" name="DeviceId" type="hidden" class="DeviceId" />
                            <input asp-for="@Model.MaincomId" name="MaincomId" type="hidden" class="MaincomId" />

                            <div class="form-group">
                                <div class="col-12">
                                    <label class="control-label float-left" for="DeviceSerialNo">
                                        <i class="fas fa-qrcode mr-1" style="color:forestgreen"></i>
                                        @Lang.Device_DeviceSerialNo
                                    </label>
                                </div>
                                <div class="input-group col-12">
                                    <input asp-for="@Model.DeviceSerialNo" name="DeviceSerialNo"
                                           class="DeviceSerialNo border-right-0 text-danger form-control form-control-sm bold" style="font-weight:800;"/>
                                    <div class="input-group-append input-group-sm">
                                        <span class="input-group-text border-left-0" style="background-color:#faf9eb" data-toggle="tooltip" title="@Lang.Device_DeviceSerialNo  @Lang.GeneralUI_Required">
                                            <i class="fas fa-angle-double-right" style="color:forestgreen;font-size:11px"></i>
                                        </span>
                                    </div>
                                </div>
                                <span asp-validation-for="@Model.DeviceSerialNo" class="text-danger"></span>
                            </div>
                        </div>
                
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-sm ml-3">Save changes</button>
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                </div> 
        </div>
    </div>
      </form>
</div>

<script>

    function handleDeviceStatus(result) {
        layer.close(layer.index);
        console.log(result);
        layer.open({
                title: '@Lang.GeneralUI_ReturnResult'
                , content: result.meta.message
                , btn: '@Lang.GeneralUI_OK'
        });
         if (result.meta.success === true)
         {
                redirectLocaleUrl = "@Url.Action("DeviceList", "Device",new {Language=LangUtilities.LanguageCode})";
                redirectLocaleUrl = redirectLocaleUrl + "?search=" + result.data.deviceName;
                console.log(redirectLocaleUrl);
                setTimeout(
                    function() {
                        window.location.href = redirectLocaleUrl;
                    }
                , 3000);
         }
    }

    function errDeviceStatus(data) {
        layer.close('loading');
        console.log(JSON.stringify(data));
        alert('@Lang.GeneralUI_ServerError' + "--client errDeviceStatus");
    }
    $('#DeviceSerialNoUpdModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var deviceId = button.data('deviceid');
        var maincomId = button.data('maincomid')
        var deviceName = button.data('devicename');
        var deviceSerialNo = button.data('deviceserialno');
        console.log("deviceId=" + deviceId + "| maincomId=" + maincomId + "| deviceName =" + deviceName + "|  deviceSerialNo =" + deviceSerialNo);
        var modal = $(this);
        modal.find('.modal-title').text(deviceName);
        //field
        modal.find('.DeviceId').val(deviceId);
        modal.find('.MaincomId').val(maincomId);
        modal.find(".DeviceSerialNo").val(deviceSerialNo);
    });
</script>